# Dependencies
node_modules/
.venv/
env/
venv/
__pycache__/
*.pyc

# Environment variables & secrets
.env
.env.local
.env.*.local

# Build output
dist/
build/
*.log

# IDE & System
.vscode/
.idea/
.DS_Store
Thumbs.db
